.square week {
    width: 100px; 
    height: 100px; 
    background-color: #52a577; 
  }
  .square total{
    width: 100px; 
    height: 100px; 
    background-color: #52a577; 
  }

.circle1 {
    width: 50%; /* 丸のサイズ */
    padding-bottom: 50%; /* 高さ */
    background-color: #52a577; 
    border-radius: 50%; /* 50%のborder-radiusを指定して丸を作成 */
}
.circle2{
    width: 50%; 
    padding-bottom: 50%; 
    background-color: #52a577; 
    border-radius: 50%; 
}
.circle3{
    width: 50%; 
    padding-bottom: 50%;
    background-color: #52a577; 
    border-radius: 50%; 
}
.circle4{
    width: 50%; 
    padding-bottom: 50%; 
    background-color: #52a577; 
    border-radius: 50%; 
}
.circle5 {
    width: 50%; 
    padding-bottom: 50%; 
    background-color: #52a577; 
    border-radius: 50%; 
}

.rectangle {
    width: 50%; /* 長方形の幅を設定（画面幅の50%になります） */
    padding-bottom: 25%; /* 高さを設定（幅の1/2にすることで長方形になります） */
    background-color: #f0f3f5; /* 長方形の背景色を指定 */
}
