#container {
  display: grid; /* 縦のみ */
  gap: 1vh;/*要素同士の間*/
  grid-template-rows:  0.8fr 1fr 1fr 1fr 1fr 1fr  ;
  grid-template-columns:    auto ;
}
.flex_test-box {
  display: flex;/* 横並び */
  justify-content:center;
}

/* ミニゲーム */
.circle6 {
  width: 17vmin;
  height: 17vmin;
  background-color: #82afa1;
  border-radius: 50%;
  margin-left: 70vmin;
  border: 0.5px solid #5b776e; /* 縁取りの色と太さを指定 */
}
#circle6Text {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  line-height: 17vmin;
}

/* 週 */
.square6 {
  width: 28vmin;
  height: 8vmin;
  background-color: #4d8067e0;
  border-radius: 10px; /* 角を丸める */
  border: 1px solid #345847e0;
}

.square6 p {
  font-size: 6.5vmin;
  text-align: center;
  line-height: 8vmin;
}

/* 総合 */
.square7 {
  width: 28vmin;
  height: 8vmin;
  background-color: #4d8067e0;
  border-radius: 10px;
  border: 1px solid #345847e0;
}

.square7 p {
  font-size: 6.5vmin;
  text-align: center;
  line-height: 8vmin;
}

/* 1位 */
.square1 {
  width: 77vmin;
  height: 14vmin;
  background-color: #f8f8f8e0;
  border: 1px solid #c7c7c7;
}

.circle1 {
  width: 12vmin;
  height: 12vmin;
  background-color: #4d8067e0;
  border-radius: 50%;
  border: 1px solid #757575;
}

.circle1 p {
  font-size: 6vmin;
  text-align: center;
  line-height: 12vmin;
}

/* ２位 */
.square2 {
  width: 77vmin;
  height: 14vmin;
  background-color: #f8f8f8e0;
  border: 1px solid #c7c7c7;
}

.circle2 {
  width: 12vmin;
  height: 12vmin;
  background-color: #4d8067e0;
  border-radius: 50%;
  border: 1px solid #757575;
}

.circle2 p {
  font-size: 6vmin;
  text-align: center;
  line-height: 12vmin;
}

/* ３位 */
.square3 {
  width: 77vmin;
  height: 14vmin;
  background-color: #f8f8f8e0;
  border: 1px solid #c7c7c7;
}

.circle3 {
  width: 12vmin;
  height: 12vmin;
  background-color: #4d8067e0;
  border-radius: 50%;
  border: 1px solid #757575;
}

.circle3 p {
  font-size: 6vmin;
  text-align: center;
  line-height: 12vmin;
}

/* ４位 */
.square4 {
  width: 77vmin;
  height: 14vmin;
  background-color: #f8f8f8e0;
  border: 1px solid #c7c7c7;
}

.circle4 {
  width: 12vmin;
  height: 12vmin;
  background-color: #4d8067e0;
  border-radius: 50%;
  border: 1px solid #757575;
}

.circle4 p {
  font-size: 5vmin;
  text-align: center;
  line-height: 12vmin;
}

/* ５位 */
.square5 {
  width: 77vmin;
  height: 14vmin;
  background-color: #f8f8f8e0;
  border: 1px solid #c7c7c7;
}

.circle5 {
  width: 12vmin;
  height: 12vmin;
  background-color: #4d8067e0;
  border-radius: 50%;
  border: 1px solid #757575;
}

.circle5 p {
    font-size: 5vmin;
    text-align: center;
    line-height: 12vmin;
  }