body {
    background-color: #cde4d9;
    height: 100vh;
    overflow: hidden;
    }

a {
    text-decoration: none; /* 下線を消す */
    color: inherit; 
}
    
main {
    background-color: #cde4d9;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 2vh;
    padding: 2%;
    overflow: auto;
}
    
p {
    margin: 0;
    color: #b0bec5;
}
    
footer {
    width: 95%;
    margin: 1vh auto 0;
    margin-top: 555px;
}

.circle {
    width: 22vw;
    height: 14vw;
    background-color: #82afa1;
    border-radius: 50%; 
    margin-left: 80vw; 
    margin-top: -120vw;
    transform: translate(-50%, -50%);
  }
  #circleText {
    color: rgb(216, 216, 216);
    font-size: 3.5vw;
    text-align: center;
    margin-top: 10px;
  }
  

    
footer > div {
    margin: 1%;
    float: left;
    height: 100%;
    width: 31%;
    background-color: #669d8c;
    padding-top: 3vh;
    padding-bottom: 1vh;
    border-radius: 30px;
    text-align: center;
    font-size: 5vw;
    color: #b0bec5;
}
    
footer > div > img {
    width: 5vh;
}

