.select {
    background-color: #85b9a8; /* 暗めの青 */
    }
#timetable {
    color: #cdcdcd; /* グレー */
}

.circle {
    width: 80px;
    height: 80px;
    background-color: #82afa1; /* 丸の背景色を指定 */
    border-radius: 50%; /* 50%のborder-radiusを指定して丸を作成 */
    margin-left: 315px; /* 丸を右に310pxずらす */
    margin-top: 20px;/*丸を上にずらす*/
  }