
.square  {
    width: 100px; 
    height: 100px; 
    background-color: #4d8067e0; 
  }
  #squareText {
    color: rgb(216, 216, 216);
    font-size: 3.5vw;
    text-align: center;
    margin-top: 10px;
  }
  

  