#container {
  display: grid; /* 縦のみ */
  grid-template-rows:  0.1fr 0.75fr 0.1fr 0.75fr 0.1fr 0.75fr 1fr   ;
  grid-template-columns:    auto ;
}
/*最高順位*/
.square1  {
  width: 32vw; 
  height: 4vw; 
  background-color: #4d8067e0; 
  border-radius: 10px; /* 角を丸める */
  border: 1px solid #c7c7c7;
}
.square1 p {
  font-size: 3vw;
  text-align: center;
}
.square4 {
  width: 90%;
  height: 16vw; 
  background-color:  #f8f8f8e0;
  border: 1px solid #c7c7c7;
}

  /*今週の勉強時間*/
.square2  {
  width: 32vw;
  height: 4vw; 
  background-color: #4d8067e0; 
  border-radius: 10px; /* 角を丸める */
  border: 1px solid #375a49e0; 
}
.square2 p {
  font-size: 3vw;
  text-align: center;
}
.square5 {
  width: 90%;
  height: 16vw; 
  background-color:  #f8f8f8e0;
  border: 1px solid #c7c7c7;
}


  /*総合勉強時間*/
.square3  {
  width: 32vw;
  height: 4vw; 
  background-color: #4d8067e0; 
  border-radius: 10px; /* 角を丸める */
  border: 1px solid #375a49e0; 
}
.square3 p {
  font-size: 3vw;
  text-align: center;
}
.square6 {
  width: 90%;
  height: 16vw; 
  background-color:  #f8f8f8e0;
  border: 1px solid #c7c7c7;
}

/* table要素のスタイル */
.table {
  display: table;
  width: 100%;
  background-color: #82afa1;
  border-collapse: separate;
  border-spacing: 20px;
  border-radius: 10px;
}

/* テーブルの各行のスタイル */
.table > div {
  display: table-row;
}

/* テーブルの各セルのスタイル */
.table > div > div {
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
  font-weight: bold;
  border: 1px solid #587460;
  border-radius: 10px;
}

/* ラベルのスタイル */
label {
    display: inline-block;
    margin-bottom: 5px;
}

/* ボタンのスタイル */
#setdata {
    padding: 8px 16px;
    background-color:  #4d8067e0; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin-top: 10px;
    text-align: center;
}

/* ボタンにマウスが乗ったときのスタイル */
#setdata:hover {
    background-color: #365848e0; 
}


/* 入力フィールドのスタイル */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #943232;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}


#form {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

#form.show {
  max-height: 300px;
}

#togle {
  width: 100%;
  display: block;
}


